/* CSS */
#ImageHeaderContainer {
    display: flex;
    flex-direction: column;
}

#ImageHeaderPicture {
    border-radius: 15px;
}

#ImageHeaderTitle {
    font-size: 30px;
    font-weight: bold;
}

#ImageHeaderText {
    margin: 0px;
    width: 700px;
    text-align: center;
}