/* CSS */
#headerContainer {
    font-weight: bold;
    flex-direction: column;
}

#headerContent {
    margin: 0;
    font-size: 75px;
    padding-left: 10px;
}

#specialText {
    color: orange
}

#descriptionText {
    width: 550px;
    font-size: 20px;
    text-align: center;
}