/* CSS */
#headerContainer {
    font-weight: bold;
    flex-direction: column;
}

#headerContent {
    margin: 0;
    font-size: 75px;
    padding-left: 40px;
}

#imgContainer {
    padding: 30px;
    border-radius: 15px;
    border: 3px dashed orange;
}

#specialText {
    color: orange
}

#descriptionText {
    width: 550px;
    font-size: 20px;
    text-align: center;
}